/node_modules
/coverage

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Logs
*.log

# IDEs
.idea
.vscode

# Caches
.cache
.eslintcache
.cspellcache
